*{margin: 0;padding: 0;}
body{
  box-sizing: border-box;
}
a{text-decoration: none;}

.container{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* start header area */

.header-area{
  background: #3c5b9a;
  padding:10px 0px;
  text-align: center;
}
