

@media screen and (max-width: 980px){
	.logo_area{
	width:100%;
	float:none;	
	text-align:center;
	}
	
	.login_area{
	float:none;
	color:white;
	width:384px;
	margin:15px auto;
	}
	.login_area form {
    float: none;
	
	}
	#left_area {
    width: 100%;
    float: none;
	}
	
	#right_area {
    width: 100%;
    float: none;
	}
	
	#left_area p {
    width: 100%;
	margin-bottom:20px;
	text-align:center;
	}
	
	div#left_area img {
    width: 100%;
	margin-bottom:20px;
	}
	
	
}
@media screen and (max-width: 768px){
	.login_area{
		width:100%;
	}
	
	.email,.password, .login_button{
	float:none;
	width:100%;
	margin:auto;
	box-sizing:border-box;
	}

	.login_area .email,.password{
	margin-right:0px;
	}
	.login_area input[type="text"],
	.login_area input[type="password"]{
	width:100%;
	box-sizing:border-box;
	}
	
	.login_area input[type="submit"]{
	margin-top:10px;
	
	}
	
	
}


@media screen and (max-width: 480px){
	.conteiner{
	width:80%;
	}
	.birth_date{display:block;float:none; margin-bottom:5px;}
	
}












