*{margin:0;padding:0;}
body{ front-family:arial; }

.header{
	background:#395792;
	padding: 8px 0px;
}

.header::after{
	content:'';
	clear:both;
	display:block;
}

.conteiner{
	width:70%;
	margin:auto;
	max-width: 1000px;
}

.logo_area{
	width:30%;
	float:left;	

}

.logo_area img{
	margin-top:10px;
}

.login_area{
	width:70%;
	float:left;
	color:white;
	font-size: 13px;
	font-family: sans-serif;
}

.login_area form {
    float: right;
}

.login_area label,input{
	display:block;

	
}

.login_area label{
	margin-bottom:4px;
	font-size:13px;
	font-weight:normal;
}

.login_area .email,.password, .login_button{
	float:left;
}

.login_area .email,.password{
	margin-right:15px;
	
}


.login_area input[type="text"],
.login_area input[type="password"]{
	border:1px solid black;
	padding: 3px 3px;
	margin-bottom:3px;
}

.login_area input[type="submit"]{
	margin-top:18px;
	color:white;
	background:#4267b2;
	border:1px solid #29487d;
	padding:4px 6px;
	font-weight:bold;
	cursor: pointer;
	
}


.login_area .password a{
	text-decoration: none;
	font-size:12px;
	margin-top:2px;
	color:#9cb4d8;
}

.login_area .password a:hover{
	text-decoration:underline;
	cursor:pointer;
}


/*---middle section---*/


.section{background: linear-gradient(#ffffff,#cfd4e4);padding-top:20px;padding-bottom:30px;}

.section::after{
	content:'';
	clear:both;
	display:block;
}

#left_area {
    width: 60%;
    float: left;
	padding-top:20px;
}

#right_area {
    width: 40%;
    float: left;
	
}

#left_area p {
    color: #1d3f5d;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    width: 90%;
    margin-bottom: 5px;
}

div#left_area img {
    width: 90%;
}

div#right_area h1 {
    color: #362e2b;
    font-size: 29px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-family: sans-serif;
	margin-bottom:10px;
}


#itsfree_title{
    color: #4d525d;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
	font-size:15px;
	font-weight: bold;
	margin-bottom:15px;
	
}






#right_area input[type="text"],
#right_area input[type="password"]{
	width:100%;
	padding:8px 10px;
	margin-bottom: 5px;
	box-sizing:border-box;
	border-radius:5px;
	font-size:18px;
	border:1px solid #bdc7d8;
	
}



.full_name {
	overflow:hidden;
}

.first_name {
    width: 48%;
    float: left;
	margin-right:4%;
}


.surname {
    width: 48%;
    float: left;
}

#birthday_area{
	overflow:hidden;
}


#birthday_area h4{
	color: #585d68;
    font-family: sans-serif;
	font-size:14px;
	font-weight: bold;
	margin-top:15px;
	margin-bottom:5px;
	
	
}



.birth_date select {
    padding:5px;
    border: 1px solid #ccc;
    float: left;
	cursor:pointer;
	
	
	
}

.birth_date {
    overflow: hidden;
    float: left;
    width: 196px;
}

.birth_link{float:left;}

.birth_link a{
	color:#365899;
	text-decoration:none;
	font-size:13px;
	display:block;
	line-height:1.1;
	width:140px;
	float:left;
	margin-top:1px;
}

.birth_link a:hover{
	text-decoration:underline;
}

.gender{overflow:hidden; margin:13px 0px;}

.gender input,label{
	display:inline-block;
	font-size:19px;
	font-weight:bold;
	cursor: pointer;
	
}
.gender label{
	color:#1d2129;
	margin-right:12px;
}


.text_box p{
	color:#808184;
	font-size:12px;
}

.text_box a {
	color:#365899;
	font-size:12px;
	text-decoration:none;
}

.text_box a:hover{text-decoration:underline;}

.text_box{
	margin:10px 0px;
	margin-bottom:20px;
	width: 301px;
	display:block;
	overflow:hidden;
	
    
}


.btn input {
    min-width: 194px;
	font-size:17px;
    padding: 7px 14px;
    background: linear-gradient(#67ae55, #578843);
	box-shadow: inset 0px 1px 1px #a4e388;
	border-radius:3px;
	color:white;
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#3b6e22 #3b6e22 #2c5115;
	margin-bottom:30px;
	cursor: pointer;
}

.btn input:hover{background: linear-gradient( #578843, #67ae55);}

.bussiness a{
	font-size:15px;
	font-weight:bold;
	font-family:sans-serif;
	color:#365899;
	text-decoration:none;
}

.bussiness a:hover{
	text-decoration:underline;
}

.bussiness{
	font-size:15px;
	font-family:sans-serif;
	font-weight:bold;
	color:#656565;
	
}




/*--- Start footer area---*/

#footer_area{padding:20px 0px;}

#footer_area ul{
	margin:0px;
	padding:0px;
}

#footer_area ul li{
	display:inline;
	list-style:none;
}


#footer_area ul li a{
	text-decoration:none;
	font-size:13px;
	color:#395899;
	font-family:sans-serif
}

#footer_area ul li a:hover{
	text-decoration:underline;
}

#footer_area span{
	color:#737373;
	font-size:13px;

}

#footer_area ul li.active a{
	color:#737373;
}

#footer_area .f_top ul li{
	margin-right:8px;

}


#footer_area .f_middle ul li{
	margin-right:12px;
}

#footer_area .f_top ul li:last-child a{
	border: 1px solid #999;
    padding: 0px 6px;
    background: #f9f9f9;
    color: #373737;
    font-weight: bold;
}

#footer_area hr{
	border:0px;
	border-bottom:1px solid #d4d4d4;
	margin:8px 0px;
}

#footer_area .f_top ul li:last-child,
#footer_area .f_middle ul li:last-child{
	margin-right:0px;
}

#footer_area .f_bottom {
	margin-top:20px;
}





#footer_area .f_top ul li:last-child:hover a{
	text-decoration:none;
}

#footer_area ul li.active a:hover{
	text-decoration:none;
	cursor: text;
}







/*--- end footer area---*/




















