$bg-body{
  background-color: #333;
}
body{
  background-color: #333;
  color:#fff;
}

/* primary-color : #008ed6;


*/


.navbar{
  border-bottom: 3px solid #008ed6;
  background: #292b2c;
  opacity: 0.7;
}

/* START HOME SECTION */

#home{
  background: url('../img/bg1.jpg')  no-repeat center top;
  background-size: cover;
  min-height: 700px;
  background-attachment: fixed;

}
.dark-overlay{
  background:rgba(0,0,0,0.7);
  min-height:700px;
}
.home-inner{
  padding-top: 150px;
  padding-bottom: 0px;
}
.fa-check{
      background: #fff;
      color:#008ed6;
      padding:4px;
      font-size: 30px;
      border-radius:5px;
}

.card-form{
  border-radius: 5px;
  box-shadow: 0px 0px 20px -5px black;
  opacity: .8;
  border: 0px;
}
.card-body{
  border-radius: 4px;
}


@media (max-width: 768px){
  #home h1{
    font-size: 32px;
  }
}



/* footer modal */
